<!DOCTYPE html>
<head>
  <title>Makan Apa</title>
  <script src="https://kit.fontawesome.com/296c028d74.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/general.css" />
  <link rel="stylesheet" href="/static/posts.css" />
  <link rel="stylesheet" href="/static/profile.css" />
</head>
<body>
  <%- include('partials/navbar.ejs', { userId: user.id }) %>
  <main>
    <div>
      <img src="/static/foto.jpg" alt="profile">
      <h3><%= user.fullname %></h3>
      <p><%= user.username %></p>
      <p><%= user.email %></p>
      <button><a href="/user/edit/profile">Edit Profile</a></button>
    </div>
    <hr />
    <div id="posts-container">
      <div id="add-post-btn">
        <a href="/user/<%= user.id%>/post/add">
          <button>Tulis Konten Baru</button>
        </a>
      </div>
      <% user.Posts.forEach(post => { %>
        <% let isLiked = post.Likes.some(v => v.UserId == userId ) %>
        <div class="user-post">
          <div class="user-photo">
            <img class="user-photo" 
              src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png"/>
          </div>
          <div class="second-col">
            <div>
              <div><%= post.User.fullname %></div>
              <div>
                <form action="/post/<%= post.id %>/delete" method="POST">
                  <button>delete</button>
                </form>
              </div>
            </div>
            <div>
              <%= post.content %>
              <% post.Tags.forEach(tag => { %>
                <%= `#${tag.name} ` %>
              <% }) %>
            </div>
            <div>
              <img class="post-img" src="<%= post.imgUrl %>"/>
            </div>
            <div>
              <span id="like-<%= post.id %>" class="like" 
                  onclick="handleLike('<%= post.id %>')"
                  <%= isLiked ? 'data-liked=true' : '' %>
              ><i class="far fa-thumbs-up"></i></span>
              <span id="likes-<%= post.id %>-count"><%= post.Likes.length %></span>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </main>
  <%- include('partials/script-like') %>
</body>
</html>
