<!DOCTYPE html>
<head>
  <title>Makan Apa</title>
  <link rel="stylesheet" href="/static/general.css" />
  <link rel="stylesheet" href="/static/posts.css" />
</head>
<body>
  <main>
    <div>
      <h1>welcome <%= user.fullname %></h1>
      <img src="/static/foto.jpg" alt="profile">
      <p>I'm a <%= user.Profile.gender %></p>
      <p><%= user.Profile.bio %></p>
      <p><%= user.Profile.phone %></p>
      <button><a href="/user/home">Home</a></button>
    </div>
    <hr />
    <div id="posts-container">
      <div class="user-post">
        <div class="user-photo">
          <img class="user-photo" 
            src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png"/>
        </div>
        <div class="second-col">
          <div><%= user.fullname %></div>
          <div>
            <textarea rows="4" placeholder="tulis sesuatu..."
            ></textarea>
          </div>
        </div>
      </div>
      <% user.Posts.forEach(post => { %>
        <% let isLiked = post.Likes.some(v => v.UserId == userId ) %>
        <div class="user-post">
          <div class="user-photo">
            <img class="user-photo" 
              src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png"/>
          </div>
          <div class="second-col">
            <div><%= post.User.fullname %></div>
            <div>
              <%= post.content %>
            </div>
            <div>
              <img class="post-img"
                src="<%= post.imgUrl %>"/>
            </div>
            <div>
              <span id="like-<%= post.id %>" class="like" 
                  onclick="handleLike('<%= post.id %>')"
                  <%= isLiked ? 'data-liked=true' : '' %>
              ><i class="far fa-thumbs-up"></i></span>
              <span id="likes-<%= post.id %>-count"><%= post.Likes.length %></span>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </main>
</body>
</html>