<!DOCTYPE html>
<html>
<head>
  <title>Makan Apa</title>
  <script src="https://kit.fontawesome.com/296c028d74.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/general.css" />
  <link rel="stylesheet" href="/static/nav.css" />
  <link rel="stylesheet" href="/static/posts.css" />
</head>
<body>
  <%- include('partials/navbar.ejs', { userId: userId }) %>
  <main>
    <div id="posts-container">
      <% posts.forEach(post => { %>
        <% let isLiked = post.Likes.some(v => v.UserId == userId ) %>

        <div class="user-post">
          <div class="user-photo">
            <img class="user-photo" 
              src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png"/>
          </div>
          <div class="second-col">
            <div class="fullname">
              <%= post.User.fullname %>
            </div>
            <div>
              <%= post.content %>
              <span class="tags">
                <% post.Tags.forEach(tag => { %>
                  <a href="/timeline?tagId=<%= tag.id %>">
                    <%= tag.hashTag %>
                  </a>
                <% }) %>
              </span>
            </div>
            <div>
              <img class="post-img"
                src="<%= post.imgUrl %>"/>
            </div>
            <div>
              <span id="like-<%= post.id %>" class="like" 
                  onclick="handleLike('<%= post.id %>')"
                  <%= isLiked ? 'data-liked=true' : '' %>
              ><i class="far fa-thumbs-up"></i></span>
              <span id="likes-<%= post.id %>-count"><%= post.Likes.length %></span>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </main>
  <%- include('partials/script-like') %>
</body>
</html>
